current_engine.json
{
  "updatedAt": "2026-02-06T17:37:51.370Z",
  "createdAt": "2026-02-05T14:30:17.381Z",
  "id": "2KtkOaUAIx_IntJD-wHya",
  "name": "agenda_engine",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "0aab0514-d82a-4371-91e8-f4f7420c0dd8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "agenda_config",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "396aae67-bda8-4729-ab34-aafc6f6dc752",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "cuLPizV1tj78XzSn",
          "name": "Supabase (Agente IA)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all();\nif (!items.length) return [];\nconst config = items[0].json;\n\n// Map from the actual schema shown in the user's image\nconst startHourRaw = config.horario_inicio || \"08:00\";\nconst endHourRaw = config.horario_fim || \"18:00\";\nconst interval = parseInt(config.intervalo_minutos) || 30;\nconst breakStartRaw = config.pausa_inicio || \"12:00\";\nconst breakEndRaw = config.pausa_fim || \"13:30\";\nconst activeDays = config.dias_ativos || [1, 2, 3, 4, 5];\n\n// Helper to normalize time to HH:mm\nfunction normalizeTime(t) {\n    if (!t) return \"00:00\";\n    return t.slice(0, 5);\n}\n\nconst startHour = normalizeTime(startHourRaw);\nconst endHour = normalizeTime(endHourRaw);\nconst breakStart = normalizeTime(breakStartRaw);\nconst breakEnd = normalizeTime(breakEndRaw);\n\nlet slots = [];\n\n// Generate for next 7 days\nfor (let i = 0; i < 7; i++) {\n    const d = new Date();\n    d.setDate(d.getDate() + i);\n    \n    // Check if this weekday is active (0=Sun, 1=Mon, ..., 6=Sat)\n    const dayOfWeek = d.getDay();\n    if (!activeDays.includes(dayOfWeek)) continue;\n\n    const dataStr = d.toISOString().split('T')[0];\n    \n    // Create base date for calculations\n    let current = new Date(`${dataStr}T${startHour}:00`);\n    const end = new Date(`${dataStr}T${endHour}:00`);\n\n    while (current < end) {\n        const timeStr = current.toTimeString().split(' ')[0].slice(0, 5);\n        \n        // Check break\n        const isBreak = timeStr >= breakStart && timeStr < breakEnd;\n        \n        if (!isBreak) {\n            const slotEnd = new Date(current.getTime() + interval * 60000);\n            const timeEndStr = slotEnd.toTimeString().split(' ')[0].slice(0, 5);\n            \n            // Don't generate slot if it ends after closing time\n            if (timeEndStr <= endHour || (timeEndStr > endHour && timeStr < endHour)) {\n                 slots.push({\n                    json: {\n                        data: dataStr,\n                        hora_inicio: timeStr + \":00\",\n                        hora_fim: timeEndStr + \":00\",\n                        status: \"DISPONIVEL\"\n                    }\n                });\n            }\n        }\n        current = new Date(current.getTime() + interval * 60000);\n    }\n}\n\nreturn slots;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "ba3bb439-e2d1-4bb1-9430-ad75108067b7",
      "name": "Gerar Slots",
      "disabled": true
    },
    {
      "parameters": {
        "tableId": "agenda_slots",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "cb4a33fc-289d-4ffd-ab11-7fcaa8c4c484",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "cuLPizV1tj78XzSn",
          "name": "Supabase (Agente IA)"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Gerar Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Slots": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c4b205cb-3390-4b2d-871c-14000a81d99e",
  "activeVersionId": "c4b205cb-3390-4b2d-871c-14000a81d99e",
  "versionCounter": 29,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-05T14:30:17.381Z",
      "createdAt": "2026-02-05T14:30:17.381Z",
      "role": "workflow:owner",
      "workflowId": "2KtkOaUAIx_IntJD-wHya",
      "projectId": "kP7h3oSEBMHOctB3",
      "project": {
        "updatedAt": "2025-12-03T19:22:57.668Z",
        "createdAt": "2025-12-03T18:15:41.044Z",
        "id": "kP7h3oSEBMHOctB3",
        "name": "Camilo miloruas@gmail.com <miloruas@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f",
        "projectRelations": [
          {
            "updatedAt": "2025-12-03T18:15:41.044Z",
            "createdAt": "2025-12-03T18:15:41.044Z",
            "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f",
            "projectId": "kP7h3oSEBMHOctB3",
            "user": {
              "updatedAt": "2026-02-06T11:05:22.739Z",
              "createdAt": "2025-12-03T18:15:30.723Z",
              "id": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f",
              "email": "miloruas@gmail.com",
              "firstName": "Camilo",
              "lastName": "miloruas@gmail.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-03T19:23:20.097Z",
                "personalization_survey_n8n_version": "1.122.4",
                "companyType": "personal",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "HqDaKODwZIg6Hdmx",
                "userActivatedAt": 1764891421091,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1765455747678
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "aiAgentStarterCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-06",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-06T17:37:51.371Z",
    "createdAt": "2026-02-06T17:37:51.371Z",
    "versionId": "c4b205cb-3390-4b2d-871c-14000a81d99e",
    "workflowId": "2KtkOaUAIx_IntJD-wHya",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 8
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          0
        ],
        "id": "0aab0514-d82a-4371-91e8-f4f7420c0dd8",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "agenda_config",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "keyValue": "1"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          208,
          0
        ],
        "id": "396aae67-bda8-4729-ab34-aafc6f6dc752",
        "name": "Get a row",
        "credentials": {
          "supabaseApi": {
            "id": "cuLPizV1tj78XzSn",
            "name": "Supabase (Agente IA)"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "\nconst items = $input.all();\nif (!items.length) return [];\nconst config = items[0].json;\n\n// Map from the actual schema shown in the user's image\nconst startHourRaw = config.horario_inicio || \"08:00\";\nconst endHourRaw = config.horario_fim || \"18:00\";\nconst interval = parseInt(config.intervalo_minutos) || 30;\nconst breakStartRaw = config.pausa_inicio || \"12:00\";\nconst breakEndRaw = config.pausa_fim || \"13:30\";\nconst activeDays = config.dias_ativos || [1, 2, 3, 4, 5];\n\n// Helper to normalize time to HH:mm\nfunction normalizeTime(t) {\n    if (!t) return \"00:00\";\n    return t.slice(0, 5);\n}\n\nconst startHour = normalizeTime(startHourRaw);\nconst endHour = normalizeTime(endHourRaw);\nconst breakStart = normalizeTime(breakStartRaw);\nconst breakEnd = normalizeTime(breakEndRaw);\n\nlet slots = [];\n\n// Generate for next 7 days\nfor (let i = 0; i < 7; i++) {\n    const d = new Date();\n    d.setDate(d.getDate() + i);\n    \n    // Check if this weekday is active (0=Sun, 1=Mon, ..., 6=Sat)\n    const dayOfWeek = d.getDay();\n    if (!activeDays.includes(dayOfWeek)) continue;\n\n    const dataStr = d.toISOString().split('T')[0];\n    \n    // Create base date for calculations\n    let current = new Date(`${dataStr}T${startHour}:00`);\n    const end = new Date(`${dataStr}T${endHour}:00`);\n\n    while (current < end) {\n        const timeStr = current.toTimeString().split(' ')[0].slice(0, 5);\n        \n        // Check break\n        const isBreak = timeStr >= breakStart && timeStr < breakEnd;\n        \n        if (!isBreak) {\n            const slotEnd = new Date(current.getTime() + interval * 60000);\n            const timeEndStr = slotEnd.toTimeString().split(' ')[0].slice(0, 5);\n            \n            // Don't generate slot if it ends after closing time\n            if (timeEndStr <= endHour || (timeEndStr > endHour && timeStr < endHour)) {\n                 slots.push({\n                    json: {\n                        data: dataStr,\n                        hora_inicio: timeStr + \":00\",\n                        hora_fim: timeEndStr + \":00\",\n                        status: \"DISPONIVEL\"\n                    }\n                });\n            }\n        }\n        current = new Date(current.getTime() + interval * 60000);\n    }\n}\n\nreturn slots;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          416,
          0
        ],
        "id": "ba3bb439-e2d1-4bb1-9430-ad75108067b7",
        "name": "Gerar Slots",
        "disabled": true
      },
      {
        "parameters": {
          "tableId": "agenda_slots",
          "dataToSend": "autoMapInputData"
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          624,
          0
        ],
        "id": "cb4a33fc-289d-4ffd-ab11-7fcaa8c4c484",
        "name": "Create a row",
        "credentials": {
          "supabaseApi": {
            "id": "cuLPizV1tj78XzSn",
            "name": "Supabase (Agente IA)"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a row": {
        "main": [
          [
            {
              "node": "Gerar Slots",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gerar Slots": {
        "main": [
          [
            {
              "node": "Create a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Camilo miloruas@gmail.com",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-06T17:37:51.725Z",
        "id": 139,
        "workflowId": "2KtkOaUAIx_IntJD-wHya",
        "versionId": "c4b205cb-3390-4b2d-871c-14000a81d99e",
        "event": "activated",
        "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f"
      }
    ]
  }
}
