current_cancellation.json
{
  "updatedAt": "2026-02-06T11:33:28.718Z",
  "createdAt": "2026-02-05T16:41:58.897Z",
  "id": "nj8BbsVlFjHFYWDoE-qA9",
  "name": "agenda_cancelar_reserva",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a8765bab-126a-4177-8fe8-87f6a7eeb1ab",
              "name": "telefone",
              "value": "={{ $json.telefone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "aa79b0a8-b7e6-455c-96ee-dbfcd0f1071a",
      "name": "Receber telefone cliente"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "agenda_reservas",
        "filters": {
          "conditions": [
            {
              "keyName": "cliente_telefone",
              "condition": "eq",
              "keyValue": "={{ $json.telefone }}"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "RESERVADO"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "fe3406b2-20e1-4fc8-9bba-d45c1d0efb35",
      "name": "Buscar reserva ativa",
      "credentials": {
        "supabaseApi": {
          "id": "cuLPizV1tj78XzSn",
          "name": "Supabase (Agente IA)"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "agenda_slots",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.slot_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "DISPONIVEL"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "0306cc1a-8bf7-4449-80a3-62a79918ce2b",
      "name": "Liberar slot",
      "credentials": {
        "supabaseApi": {
          "id": "cuLPizV1tj78XzSn",
          "name": "Supabase (Agente IA)"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "agenda_reservas",
        "filters": {
          "conditions": [
            {
              "keyName": "slot_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "CANCELADO"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "638c43cf-ed6d-43b8-b887-907c70054cfd",
      "name": "Marcar reserva como cancelada",
      "credentials": {
        "supabaseApi": {
          "id": "cuLPizV1tj78XzSn",
          "name": "Supabase (Agente IA)"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "8ad87923-8e8a-4275-b477-66edd982c3be",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "msg-id",
              "name": "mensagem",
              "value": "Reserva cancelada com sucesso.",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        0
      ],
      "name": "Retorno Padronizado",
      "id": "7bd78050-c379-43d6-bbf6-73ada8673113"
    }
  ],
  "connections": {
    "Receber telefone cliente": {
      "main": [
        [
          {
            "node": "Buscar reserva ativa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar reserva ativa": {
      "main": [
        [
          {
            "node": "Liberar slot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Liberar slot": {
      "main": [
        [
          {
            "node": "Marcar reserva como cancelada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Receber telefone cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar reserva como cancelada": {
      "main": [
        [
          {
            "node": "Retorno Padronizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b170c27a-768b-42b4-a162-c8043dcbd252",
  "activeVersionId": "b170c27a-768b-42b4-a162-c8043dcbd252",
  "versionCounter": 59,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-05T16:41:58.897Z",
      "createdAt": "2026-02-05T16:41:58.897Z",
      "role": "workflow:owner",
      "workflowId": "nj8BbsVlFjHFYWDoE-qA9",
      "projectId": "kP7h3oSEBMHOctB3",
      "project": {
        "updatedAt": "2025-12-03T19:22:57.668Z",
        "createdAt": "2025-12-03T18:15:41.044Z",
        "id": "kP7h3oSEBMHOctB3",
        "name": "Camilo miloruas@gmail.com <miloruas@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f",
        "projectRelations": [
          {
            "updatedAt": "2025-12-03T18:15:41.044Z",
            "createdAt": "2025-12-03T18:15:41.044Z",
            "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f",
            "projectId": "kP7h3oSEBMHOctB3",
            "user": {
              "updatedAt": "2026-02-06T11:05:22.739Z",
              "createdAt": "2025-12-03T18:15:30.723Z",
              "id": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f",
              "email": "miloruas@gmail.com",
              "firstName": "Camilo",
              "lastName": "miloruas@gmail.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-03T19:23:20.097Z",
                "personalization_survey_n8n_version": "1.122.4",
                "companyType": "personal",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "HqDaKODwZIg6Hdmx",
                "userActivatedAt": 1764891421091,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1765455747678
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "aiAgentStarterCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-06",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-06T12:15:38.486Z",
    "createdAt": "2026-02-06T11:33:28.720Z",
    "versionId": "b170c27a-768b-42b4-a162-c8043dcbd252",
    "workflowId": "nj8BbsVlFjHFYWDoE-qA9",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a8765bab-126a-4177-8fe8-87f6a7eeb1ab",
                "name": "telefone",
                "value": "={{ $json.telefone }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          208,
          0
        ],
        "id": "aa79b0a8-b7e6-455c-96ee-dbfcd0f1071a",
        "name": "Receber telefone cliente"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "agenda_reservas",
          "filters": {
            "conditions": [
              {
                "keyName": "cliente_telefone",
                "condition": "eq",
                "keyValue": "={{ $json.telefone }}"
              },
              {
                "keyName": "status",
                "condition": "eq",
                "keyValue": "RESERVADO"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          416,
          0
        ],
        "id": "fe3406b2-20e1-4fc8-9bba-d45c1d0efb35",
        "name": "Buscar reserva ativa",
        "credentials": {
          "supabaseApi": {
            "id": "cuLPizV1tj78XzSn",
            "name": "Supabase (Agente IA)"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "agenda_slots",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $json.slot_id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status",
                "fieldValue": "DISPONIVEL"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          624,
          0
        ],
        "id": "0306cc1a-8bf7-4449-80a3-62a79918ce2b",
        "name": "Liberar slot",
        "credentials": {
          "supabaseApi": {
            "id": "cuLPizV1tj78XzSn",
            "name": "Supabase (Agente IA)"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "agenda_reservas",
          "filters": {
            "conditions": [
              {
                "keyName": "slot_id",
                "condition": "eq",
                "keyValue": "={{ $json.id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status",
                "fieldValue": "CANCELADO"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          832,
          0
        ],
        "id": "638c43cf-ed6d-43b8-b887-907c70054cfd",
        "name": "Marcar reserva como cancelada",
        "credentials": {
          "supabaseApi": {
            "id": "cuLPizV1tj78XzSn",
            "name": "Supabase (Agente IA)"
          }
        }
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "8ad87923-8e8a-4275-b477-66edd982c3be",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "msg-id",
                "name": "mensagem",
                "value": "Reserva cancelada com sucesso.",
                "type": "string"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1040,
          0
        ],
        "name": "Retorno Padronizado",
        "id": "7bd78050-c379-43d6-bbf6-73ada8673113"
      }
    ],
    "connections": {
      "Receber telefone cliente": {
        "main": [
          [
            {
              "node": "Buscar reserva ativa",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar reserva ativa": {
        "main": [
          [
            {
              "node": "Liberar slot",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Liberar slot": {
        "main": [
          [
            {
              "node": "Marcar reserva como cancelada",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Receber telefone cliente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Marcar reserva como cancelada": {
        "main": [
          [
            {
              "node": "Retorno Padronizado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Camilo miloruas@gmail.com",
    "name": "Version b170c27a",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-06T12:15:38.474Z",
        "id": 70,
        "workflowId": "nj8BbsVlFjHFYWDoE-qA9",
        "versionId": "b170c27a-768b-42b4-a162-c8043dcbd252",
        "event": "activated",
        "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f"
      },
      {
        "createdAt": "2026-02-06T12:51:55.207Z",
        "id": 83,
        "workflowId": "nj8BbsVlFjHFYWDoE-qA9",
        "versionId": "b170c27a-768b-42b4-a162-c8043dcbd252",
        "event": "activated",
        "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f"
      },
      {
        "createdAt": "2026-02-06T12:57:31.988Z",
        "id": 90,
        "workflowId": "nj8BbsVlFjHFYWDoE-qA9",
        "versionId": "b170c27a-768b-42b4-a162-c8043dcbd252",
        "event": "activated",
        "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f"
      },
      {
        "createdAt": "2026-02-06T12:58:57.490Z",
        "id": 95,
        "workflowId": "nj8BbsVlFjHFYWDoE-qA9",
        "versionId": "b170c27a-768b-42b4-a162-c8043dcbd252",
        "event": "activated",
        "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f"
      },
      {
        "createdAt": "2026-02-06T14:03:16.479Z",
        "id": 103,
        "workflowId": "nj8BbsVlFjHFYWDoE-qA9",
        "versionId": "b170c27a-768b-42b4-a162-c8043dcbd252",
        "event": "activated",
        "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f"
      },
      {
        "createdAt": "2026-02-06T14:11:17.197Z",
        "id": 108,
        "workflowId": "nj8BbsVlFjHFYWDoE-qA9",
        "versionId": "b170c27a-768b-42b4-a162-c8043dcbd252",
        "event": "activated",
        "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f"
      },
      {
        "createdAt": "2026-02-06T14:16:19.289Z",
        "id": 113,
        "workflowId": "nj8BbsVlFjHFYWDoE-qA9",
        "versionId": "b170c27a-768b-42b4-a162-c8043dcbd252",
        "event": "activated",
        "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f"
      },
      {
        "createdAt": "2026-02-06T14:20:38.108Z",
        "id": 118,
        "workflowId": "nj8BbsVlFjHFYWDoE-qA9",
        "versionId": "b170c27a-768b-42b4-a162-c8043dcbd252",
        "event": "activated",
        "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f"
      },
      {
        "createdAt": "2026-02-06T14:36:08.161Z",
        "id": 124,
        "workflowId": "nj8BbsVlFjHFYWDoE-qA9",
        "versionId": "b170c27a-768b-42b4-a162-c8043dcbd252",
        "event": "activated",
        "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f"
      },
      {
        "createdAt": "2026-02-06T14:41:59.623Z",
        "id": 129,
        "workflowId": "nj8BbsVlFjHFYWDoE-qA9",
        "versionId": "b170c27a-768b-42b4-a162-c8043dcbd252",
        "event": "activated",
        "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f"
      },
      {
        "createdAt": "2026-02-06T14:49:29.362Z",
        "id": 135,
        "workflowId": "nj8BbsVlFjHFYWDoE-qA9",
        "versionId": "b170c27a-768b-42b4-a162-c8043dcbd252",
        "event": "activated",
        "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f"
      },
      {
        "createdAt": "2026-02-06T17:37:52.331Z",
        "id": 140,
        "workflowId": "nj8BbsVlFjHFYWDoE-qA9",
        "versionId": "b170c27a-768b-42b4-a162-c8043dcbd252",
        "event": "activated",
        "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f"
      },
      {
        "createdAt": "2026-02-06T17:40:56.153Z",
        "id": 145,
        "workflowId": "nj8BbsVlFjHFYWDoE-qA9",
        "versionId": "b170c27a-768b-42b4-a162-c8043dcbd252",
        "event": "activated",
        "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f"
      },
      {
        "createdAt": "2026-02-06T17:46:29.068Z",
        "id": 151,
        "workflowId": "nj8BbsVlFjHFYWDoE-qA9",
        "versionId": "b170c27a-768b-42b4-a162-c8043dcbd252",
        "event": "activated",
        "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f"
      },
      {
        "createdAt": "2026-02-06T17:47:52.658Z",
        "id": 157,
        "workflowId": "nj8BbsVlFjHFYWDoE-qA9",
        "versionId": "b170c27a-768b-42b4-a162-c8043dcbd252",
        "event": "activated",
        "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f"
      },
      {
        "createdAt": "2026-02-06T17:52:49.868Z",
        "id": 163,
        "workflowId": "nj8BbsVlFjHFYWDoE-qA9",
        "versionId": "b170c27a-768b-42b4-a162-c8043dcbd252",
        "event": "activated",
        "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f"
      },
      {
        "createdAt": "2026-02-06T17:53:50.207Z",
        "id": 169,
        "workflowId": "nj8BbsVlFjHFYWDoE-qA9",
        "versionId": "b170c27a-768b-42b4-a162-c8043dcbd252",
        "event": "activated",
        "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f"
      },
      {
        "createdAt": "2026-02-06T18:02:48.516Z",
        "id": 174,
        "workflowId": "nj8BbsVlFjHFYWDoE-qA9",
        "versionId": "b170c27a-768b-42b4-a162-c8043dcbd252",
        "event": "activated",
        "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f"
      },
      {
        "createdAt": "2026-02-06T18:07:16.630Z",
        "id": 179,
        "workflowId": "nj8BbsVlFjHFYWDoE-qA9",
        "versionId": "b170c27a-768b-42b4-a162-c8043dcbd252",
        "event": "activated",
        "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f"
      },
      {
        "createdAt": "2026-02-06T18:17:18.107Z",
        "id": 183,
        "workflowId": "nj8BbsVlFjHFYWDoE-qA9",
        "versionId": "b170c27a-768b-42b4-a162-c8043dcbd252",
        "event": "activated",
        "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f"
      },
      {
        "createdAt": "2026-02-06T18:38:48.553Z",
        "id": 193,
        "workflowId": "nj8BbsVlFjHFYWDoE-qA9",
        "versionId": "b170c27a-768b-42b4-a162-c8043dcbd252",
        "event": "activated",
        "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f"
      },
      {
        "createdAt": "2026-02-06T18:46:03.402Z",
        "id": 201,
        "workflowId": "nj8BbsVlFjHFYWDoE-qA9",
        "versionId": "b170c27a-768b-42b4-a162-c8043dcbd252",
        "event": "activated",
        "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f"
      },
      {
        "createdAt": "2026-02-06T18:54:02.049Z",
        "id": 206,
        "workflowId": "nj8BbsVlFjHFYWDoE-qA9",
        "versionId": "b170c27a-768b-42b4-a162-c8043dcbd252",
        "event": "activated",
        "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f"
      }
    ]
  }
}
