portfolio_full.json
{
  "updatedAt": "2026-02-06T17:47:53.336Z",
  "createdAt": "2026-02-06T11:29:30.282Z",
  "id": "eMikHpGyw6OFxuob",
  "name": "Agente de Agendamento Profissional - Portfolio",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-agendamento",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -208,
        0
      ],
      "id": "webhook-1",
      "name": "Webhook",
      "webhookId": "0bfc6231-5611-47c9-9cf4-207b4ba777b7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "telefone",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "nome",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "input",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        0
      ],
      "id": "set-1",
      "name": "Preparar Dados"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.input }}",
        "options": {
          "systemMessage": "={{ \"\\n<systemData>\\nData de hoje: \" + $now.format('dddd, DD/MM/YYYY HH:mm') + \"\\nIMPORTANTE: A data acima é a única fonte de verdade para 'hoje'. Ignore qualquer data em mensagens anteriores que conflite com esta.\\n</systemData>\\n\" }}\n<Identidade>\n  Nome: Rafael Ruas\n  Persona: Você é um concierge de agendamentos de alto nível. Educado, discreto com detalhes técnicos e focado na conveniência do cliente.\n</Identidade>\n\n<Regras_de_Ouro>\n  - **PRIVACIDADE TÉCNICA:** Nunca mostre 'Identificador_Tecnico', 'UUID', ou 'null' ao cliente.\n  - **CONVERSA FLUIDA:** Mostre os horários de forma amigável: \"Temos às 09:00 e 10:00\".\n</Regras_de_Ouro>\n\n<Operacao_das_Ferramentas>\n  1. **Consultar Horários (consultar_horarios):**\n     - Use o parâmetro 'data' (AAAA-MM-DD) baseado sempre na 'Data de hoje' fornecida no systemData.\n     - Você receberá uma 'TABELA_HORARIOS'. Memorize os Identificadores Técnicos internamente.\n     \n  2. **Agendar Reserva (agendar_reserva):**\n     - **PRIORIDADE 1:** Use o 'Identificador_Tecnico' mapeado no campo 'slot_id'.\n     - **PRIORIDADE 2 (Fallback):** Se não tiver o ID ou se ele for inválido, passe o Horário (ex: \"08:00\") no campo 'horario' e a data no campo 'data'.\n     - SEMPRE passe o telefone do cliente.\n     \n  3. **Cancelar Reserva (cancelar_reserva):**\n     - Use o telefone do cliente para cancelar.\n</Operacao_das_Ferramentas>\n\n<Tom_de_Voz>\n  - Brasileiro, cordial e eficiente. \n  - Ex: \"Perfeito, acabei de agendar sua consulta para às 08:30 no dia 10. Posso ajudar com mais algo?\"\n</Tom_de_Voz>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        448,
        0
      ],
      "id": "agent-1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        352,
        208
      ],
      "id": "model-1",
      "name": "OpenAI Model",
      "credentials": {
        "openAiApi": {
          "id": "oPqSWZ8UON9AXTOz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Preparar Dados').item.json.telefone }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        544,
        208
      ],
      "id": "memory-1",
      "name": "Memória Postgres",
      "credentials": {
        "postgres": {
          "id": "v3RabrtvpCXYgmbG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "20Rq4ar-aW-W3s3CvO_px",
          "mode": "list",
          "cachedResultUrl": "/workflow/20Rq4ar-aW-W3s3CvO_px",
          "cachedResultName": "agenda_consultar_disponibilidade"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ $json.data }}"
          },
          "schema": [
            {
              "id": "data",
              "displayName": "Data",
              "required": true,
              "type": "string"
            }
          ]
        },
        "description": "Consulta os horários disponíveis para uma data específica (Formato YYYY-MM-DD)."
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        704,
        208
      ],
      "name": "consultar_horarios",
      "id": "822a68d6-3854-4565-978f-33a4c024a406"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "8C195OrvhCXh3biQ",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "slot_id": "={{ $json.slot_id }}",
            "telefone": "={{ $('Preparar Dados').item.json.telefone }}"
          },
          "schema": [
            {
              "id": "slot_id",
              "displayName": "ID do Slot",
              "required": true,
              "type": "string"
            },
            {
              "id": "telefone",
              "displayName": "Telefone",
              "required": true,
              "type": "string"
            }
          ]
        },
        "description": "Realiza o agendamento usando o slot_id retornado na consulta."
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        704,
        352
      ],
      "name": "agendar_reserva",
      "id": "c5ed18b8-6060-40fe-910a-7778cd82d0af"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "nj8BbsVlFjHFYWDoE-qA9",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Preparar Dados').item.json.telefone }}"
          },
          "schema": [
            {
              "id": "telefone",
              "displayName": "Telefone",
              "required": true,
              "type": "string"
            }
          ]
        },
        "description": "Cancela a reserva ativa do cliente usando seu telefone."
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        704,
        512
      ],
      "name": "cancelar_reserva",
      "id": "3d4f2668-6a5d-4767-8a4b-627fa49eafa7"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        880,
        0
      ],
      "id": "a674c63f-6d0c-4bf4-86f8-3965f333ed81",
      "name": "Enviar texto1",
      "credentials": {
        "evolutionApi": {
          "id": "rA5RdR6wauF1ogrU",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "input-key",
              "name": "input",
              "value": "={{ $json.input }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        0
      ],
      "id": "clean-input-node-1",
      "name": "Limpar Input para IA"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Preparar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Dados": {
      "main": [
        [
          {
            "node": "Limpar Input para IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Enviar texto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memória Postgres": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "consultar_horarios": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "agendar_reserva": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cancelar_reserva": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Input para IA": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "d333a337-4f5b-47f5-bfb7-b63f96b638d3",
  "activeVersionId": "d333a337-4f5b-47f5-bfb7-b63f96b638d3",
  "versionCounter": 95,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-06T11:29:30.282Z",
      "createdAt": "2026-02-06T11:29:30.282Z",
      "role": "workflow:owner",
      "workflowId": "eMikHpGyw6OFxuob",
      "projectId": "kP7h3oSEBMHOctB3",
      "project": {
        "updatedAt": "2025-12-03T19:22:57.668Z",
        "createdAt": "2025-12-03T18:15:41.044Z",
        "id": "kP7h3oSEBMHOctB3",
        "name": "Camilo miloruas@gmail.com <miloruas@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f",
        "projectRelations": [
          {
            "updatedAt": "2025-12-03T18:15:41.044Z",
            "createdAt": "2025-12-03T18:15:41.044Z",
            "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f",
            "projectId": "kP7h3oSEBMHOctB3",
            "user": {
              "updatedAt": "2026-02-06T11:05:22.739Z",
              "createdAt": "2025-12-03T18:15:30.723Z",
              "id": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f",
              "email": "miloruas@gmail.com",
              "firstName": "Camilo",
              "lastName": "miloruas@gmail.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-03T19:23:20.097Z",
                "personalization_survey_n8n_version": "1.122.4",
                "companyType": "personal",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "HqDaKODwZIg6Hdmx",
                "userActivatedAt": 1764891421091,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1765455747678
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "aiAgentStarterCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-06",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-06T17:47:51.716Z",
    "createdAt": "2026-02-06T17:47:51.716Z",
    "versionId": "d333a337-4f5b-47f5-bfb7-b63f96b638d3",
    "workflowId": "eMikHpGyw6OFxuob",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "webhook-agendamento",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -208,
          0
        ],
        "id": "webhook-1",
        "name": "Webhook",
        "webhookId": "0bfc6231-5611-47c9-9cf4-207b4ba777b7"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1",
                "name": "telefone",
                "value": "={{ $json.body.data.key.remoteJid }}",
                "type": "string"
              },
              {
                "id": "2",
                "name": "nome",
                "value": "={{ $json.body.data.pushName }}",
                "type": "string"
              },
              {
                "id": "3",
                "name": "input",
                "value": "={{ $json.body.data.message.conversation }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          80,
          0
        ],
        "id": "set-1",
        "name": "Preparar Dados"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.input }}",
          "options": {
            "systemMessage": "={{ \"\\n<systemData>\\nData de hoje: \" + $now.format('dddd, DD/MM/YYYY HH:mm') + \"\\n</systemData>\\n\" }}\n<Identidade>\n  Nome: Rafael Ruas\n  Persona: Você é um concierge de agendamentos de alto nível. Educado, discreto com detalhes técnicos e focado na conveniência do cliente.\n</Identidade>\n\n<Regras_de_Ouro>\n  - **PRIVACIDADE TÉCNICA:** Nunca mostre 'Identificador_Tecnico', 'UUID', ou 'null' ao cliente.\n  - **CONVERSA FLUIDA:** Mostre os horários de forma amigável: \"Temos às 09:00 e 10:00\".\n</Regras_de_Ouro>\n\n<Operacao_das_Ferramentas>\n  1. **Consultar Horários (consultar_horarios):**\n     - Use o parâmetro 'data' (AAAA-MM-DD).\n     - Você receberá uma 'TABELA_HORARIOS'. Memorize os Identificadores Técnicos internamente.\n     \n  2. **Agendar Reserva (agendar_reserva):**\n     - **PRIORIDADE 1:** Use o 'Identificador_Tecnico' mapeado no campo 'slot_id'.\n     - **PRIORIDADE 2 (Fallback):** Se não tiver o ID ou se ele for inválido, passe o Horário (ex: \"08:00\") no campo 'horario' e a data no campo 'data'.\n     - SEMPRE passe o telefone do cliente.\n     \n  3. **Cancelar Reserva (cancelar_reserva):**\n     - Use o telefone do cliente para cancelar.\n</Operacao_das_Ferramentas>\n\n<Tom_de_Voz>\n  - Brasileiro, cordial e eficiente. \n  - Ex: \"Perfeito, acabei de agendar sua consulta para às 08:30 no dia 10. Posso ajudar com mais algo?\"\n</Tom_de_Voz>\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          448,
          0
        ],
        "id": "agent-1",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "gpt-4o-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          352,
          208
        ],
        "id": "model-1",
        "name": "OpenAI Model",
        "credentials": {
          "openAiApi": {
            "id": "oPqSWZ8UON9AXTOz",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Preparar Dados').item.json.telefone }}"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          544,
          208
        ],
        "id": "memory-1",
        "name": "Memória Postgres",
        "credentials": {
          "postgres": {
            "id": "v3RabrtvpCXYgmbG",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "20Rq4ar-aW-W3s3CvO_px",
            "mode": "list",
            "cachedResultUrl": "/workflow/20Rq4ar-aW-W3s3CvO_px",
            "cachedResultName": "agenda_consultar_disponibilidade"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "data": "={{ $json.data }}"
            },
            "schema": [
              {
                "id": "data",
                "displayName": "Data",
                "required": true,
                "type": "string"
              }
            ]
          },
          "description": "Consulta os horários disponíveis para uma data específica (Formato YYYY-MM-DD)."
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          704,
          208
        ],
        "name": "consultar_horarios",
        "id": "822a68d6-3854-4565-978f-33a4c024a406"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "8C195OrvhCXh3biQ",
            "mode": "list"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "slot_id": "={{ $json.slot_id }}",
              "telefone": "={{ $('Preparar Dados').item.json.telefone }}"
            },
            "schema": [
              {
                "id": "slot_id",
                "displayName": "ID do Slot",
                "required": true,
                "type": "string"
              },
              {
                "id": "telefone",
                "displayName": "Telefone",
                "required": true,
                "type": "string"
              }
            ]
          },
          "description": "Realiza o agendamento usando o slot_id retornado na consulta."
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          704,
          352
        ],
        "name": "agendar_reserva",
        "id": "c5ed18b8-6060-40fe-910a-7778cd82d0af"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "nj8BbsVlFjHFYWDoE-qA9",
            "mode": "list"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "telefone": "={{ $('Preparar Dados').item.json.telefone }}"
            },
            "schema": [
              {
                "id": "telefone",
                "displayName": "Telefone",
                "required": true,
                "type": "string"
              }
            ]
          },
          "description": "Cancela a reserva ativa do cliente usando seu telefone."
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          704,
          512
        ],
        "name": "cancelar_reserva",
        "id": "3d4f2668-6a5d-4767-8a4b-627fa49eafa7"
      },
      {
        "parameters": {
          "resource": "messages-api",
          "instanceName": "={{ $('Webhook').item.json.body.instance }}",
          "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
          "messageText": "={{ $json.output }}",
          "options_message": {}
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          880,
          0
        ],
        "id": "a674c63f-6d0c-4bf4-86f8-3965f333ed81",
        "name": "Enviar texto1",
        "credentials": {
          "evolutionApi": {
            "id": "rA5RdR6wauF1ogrU",
            "name": "Evolution account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "input-key",
                "name": "input",
                "value": "={{ $json.input }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          288,
          0
        ],
        "id": "clean-input-node-1",
        "name": "Limpar Input para IA"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Preparar Dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Dados": {
        "main": [
          [
            {
              "node": "Limpar Input para IA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Enviar texto1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Memória Postgres": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "consultar_horarios": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "agendar_reserva": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "cancelar_reserva": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Limpar Input para IA": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Camilo miloruas@gmail.com",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-06T17:47:51.931Z",
        "id": 156,
        "workflowId": "eMikHpGyw6OFxuob",
        "versionId": "d333a337-4f5b-47f5-bfb7-b63f96b638d3",
        "event": "activated",
        "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f"
      },
      {
        "createdAt": "2026-02-06T17:47:53.648Z",
        "id": 160,
        "workflowId": "eMikHpGyw6OFxuob",
        "versionId": "d333a337-4f5b-47f5-bfb7-b63f96b638d3",
        "event": "activated",
        "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f"
      }
    ]
  }
}