workflow_agendar_corrupted.json
{
  "updatedAt": "2026-02-06T13:05:37.870Z",
  "createdAt": "2026-02-06T11:35:02.272Z",
  "id": "8C195OrvhCXh3biQ",
  "name": "agenda_agendar_reserva",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "trigger-1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "telefone",
              "value": "={{ $json.telefone }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "slot_id",
              "value": "={{ $json.slot_id }}",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "set-1",
      "name": "Receber Dados"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "agenda_slots",
        "filters": {
          "mustMatch": "all",
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "DISPONIVEL"
            },
            {
              "keyName": "={{ $node[\"Resolver Parâmetros\"].json.isUuid ? 'id' : 'hora_inicio' }}",
              "condition": "={{ $node[\"Resolver Parâmetros\"].json.isUuid ? 'eq' : 'like' }}",
              "keyValue": "={{ $node[\"Resolver Parâmetros\"].json.isUuid ? $node[\"Resolver Parâmetros\"].json.slot_id : $node[\"Resolver Parâmetros\"].json.horario + '%' }}"
            },
            {
              "keyName": "data",
              "condition": "eq",
              "keyValue": "={{ $node[\"Resolver Parâmetros\"].json.data }}"
            }
          ]
        },
        "options": {},
        "limit": 1
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "supabase-1",
      "name": "Verificar Slot",
      "credentials": {
        "supabaseApi": {
          "id": "cuLPizV1tj78XzSn",
          "name": "Supabase (Agente IA)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "type": "string"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "DISPONIVEL",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        660,
        0
      ],
      "id": "if-1",
      "name": "Disponível?"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "agenda_slots",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $node[\"Verificar Slot\"].json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "RESERVADO"
            },
            {
              "fieldId": "cliente_telefone",
              "fieldValue": "={{ $node[\"Receber Dados\"].json.telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        880,
        -100
      ],
      "id": "supabase-2",
      "name": "Reservar Slot",
      "credentials": {
        "supabaseApi": {
          "id": "cuLPizV1tj78XzSn",
          "name": "Supabase (Agente IA)"
        }
      }
    },
    {
      "parameters": {
        "tableId": "agenda_reservas",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "slot_id",
              "fieldValue": "={{ $node[\"Verificar Slot\"].json.id }}"
            },
            {
              "fieldId": "cliente_telefone",
              "fieldValue": "={{ $node[\"Receber Dados\"].json.telefone }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "RESERVADO"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1100,
        -100
      ],
      "id": "supabase-3",
      "name": "Criar Reserva",
      "credentials": {
        "supabaseApi": {
          "id": "cuLPizV1tj78XzSn",
          "name": "Supabase (Agente IA)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "msg-ok",
              "name": "mensagem",
              "value": "Reserva realizada com sucesso para o horário {{ $node[\"Verificar Slot\"].json.hora_inicio }}.",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        -100
      ],
      "id": "set-2",
      "name": "Resposta Sucesso"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "msg-fail",
              "name": "mensagem",
              "value": "Desculpe, este horário não está mais disponível.",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        100
      ],
      "id": "set-3",
      "name": "Resposta Falha"
    },
    {
      "parameters": {
        "jsCode": "\nconst slots = $input.all();\n\nif (!slots.length) {\n    return [{ mensagem: \"ID de horário inválido ou não encontrado. Por favor, verifique e tente novamente.\" }];\n}\n\nconst slot = slots[0].json;\nif (slot.status !== \"DISPONIVEL\") {\n    return [{ mensagem: \"Lamento, mas este horário já foi reservado por outra pessoa.\" }];\n}\n\nreturn slots;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        -200
      ],
      "name": "Validar Disponibilidade",
      "id": "dc3790e6-6892-45c0-a47e-ee0a50957e68"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "type": "string"
          },
          "conditions": [
            {
              "id": "valid-cond",
              "leftValue": "={{ $json.mensagem }}",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        -200
      ],
      "name": "Está Ok?",
      "id": "82b9ea06-7609-4e6f-b45c-8e52ddca7720"
    },
    {
      "parameters": {
        "jsCode": "\nconst input = $input.first().json;\nconst slot_id = input.slot_id;\nconst data = input.data || new Date().toISOString().split('T')[0];\nconst horario = input.horario;\n\n// Check if slot_id is a UUID\nconst isUuid = slot_id && /^[0-9a-f]{8}-[0-9a-f]{4}/i.test(slot_id);\n\nreturn {\n    isUuid,\n    slot_id: isUuid ? slot_id : null,\n    horario: !isUuid ? (horario || slot_id) : null,\n    data: data,\n    telefone: input.telefone\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ],
      "name": "Resolver Parâmetros",
      "id": "ad13b01d-e89b-499e-b7a5-a8ef13623f53"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Resolver Parâmetros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receber Dados": {
      "main": [
        [
          {
            "node": "Verificar Slot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Slot": {
      "main": [
        [
          {
            "node": "Validar Disponibilidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disponível?": {
      "main": [
        [
          {
            "node": "Reservar Slot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta Falha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reservar Slot": {
      "main": [
        [
          {
            "node": "Criar Reserva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Reserva": {
      "main": [
        [
          {
            "node": "Resposta Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Disponibilidade": {
      "main": [
        [
          {
            "node": "Está Ok?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Está Ok?": {
      "main": [
        [
          {
            "node": "Reservar Slot",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Resolver Parâmetros": {
      "main": [
        [
          {
            "node": "Verificar Slot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "5733f052-1e29-400c-a6b4-64b901b61db7",
  "activeVersionId": null,
  "versionCounter": 18,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-06T11:35:02.272Z",
      "createdAt": "2026-02-06T11:35:02.272Z",
      "role": "workflow:owner",
      "workflowId": "8C195OrvhCXh3biQ",
      "projectId": "kP7h3oSEBMHOctB3",
      "project": {
        "updatedAt": "2025-12-03T19:22:57.668Z",
        "createdAt": "2025-12-03T18:15:41.044Z",
        "id": "kP7h3oSEBMHOctB3",
        "name": "Camilo miloruas@gmail.com <miloruas@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f",
        "projectRelations": [
          {
            "updatedAt": "2025-12-03T18:15:41.044Z",
            "createdAt": "2025-12-03T18:15:41.044Z",
            "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f",
            "projectId": "kP7h3oSEBMHOctB3",
            "user": {
              "updatedAt": "2026-02-06T11:05:22.739Z",
              "createdAt": "2025-12-03T18:15:30.723Z",
              "id": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f",
              "email": "miloruas@gmail.com",
              "firstName": "Camilo",
              "lastName": "miloruas@gmail.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-03T19:23:20.097Z",
                "personalization_survey_n8n_version": "1.122.4",
                "companyType": "personal",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "HqDaKODwZIg6Hdmx",
                "userActivatedAt": 1764891421091,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1765455747678
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "aiAgentStarterCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-06",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
