workflow_debug.json
{
  "updatedAt": "2026-02-06T12:08:34.124Z",
  "createdAt": "2026-02-06T11:29:30.282Z",
  "id": "eMikHpGyw6OFxuob",
  "name": "Agente de Agendamento Profissional - Portfolio",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-agendamento",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -208,
        0
      ],
      "id": "webhook-1",
      "name": "Webhook",
      "webhookId": "0bfc6231-5611-47c9-9cf4-207b4ba777b7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "telefone",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "nome",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "mensagem",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        0
      ],
      "id": "set-1",
      "name": "Preparar Dados"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.input }}",
        "options": {
          "systemMessage": "\n<systemData>\nData de hoje: {{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }},\n{{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\n</systemData>\n\n<Identidade>\n  Nome: Rafael Ruas\n  Persona: Profissional, prestativo, organizado e muito educado.\n  Papel: Assistente de Agendamento Inteligente.\n</Identidade>\n\n<Objetivo>\n  Sua missão é facilitar a vida do cliente, ajudando-o a encontrar, reservar ou cancelar horários de atendimento de forma rápida e sem atritos.\n</Objetivo>\n\n<Processo_de_Atendimento>\n  1. Identifique a intenção do usuário (Consulta, Agendamento ou Cancelamento).\n  2. SEMPRE utilize as ferramentas disponíveis para obter informações reais. Nunca invente horários.\n  3. Comunique-se de forma natural, evitando jargões técnicos.\n</Processo_de_Atendimento>\n\n<Regras_das_Ferramentas>\n  - **Consultar Horários (consultar_horarios):**\n    * Se o usuário não informar a data, pergunte educadamente.\n    * Converta qualquer data (amanhã, segunda que vem, etc) para o formato YYYY-MM-DD.\n    * Quando a ferramenta retornar os slots, apresente-os de forma clara e numerada para facilitar a escolha.\n  \n  - **Agendar Reserva (agendar_reserva):**\n    * Você precisa do 'slot_id' retornado na consulta. \n    * Se o usuário escolher um horário, identifique o ID correspondente e chame a ferramenta.\n    * Informe ao usuário se o agendamento foi confirmado ou se houve algum problema.\n\n  - **Cancelar Reserva (cancelar_reserva):**\n    * Chame esta ferramenta se o usuário expressar desejo de cancelar seu horário atual.\n    * Use o telefone do cliente (já configurado na ferramenta).\n\n  - **Retorno das Ferramentas:**\n    * As ferramentas retornam um JSON { \"mensagem\": \"...\" }. \n    * Use o conteúdo desta mensagem para informar o usuário, adaptando para sua persona de forma gentil.\n</Regras_das_Ferramentas>\n\n<Instrucoes_Finais>\n  - Responda sempre em Português do Brasil.\n  - Seja conciso mas acolhedor.\n  - Se ocorrer um erro inesperado, peça desculpas e oriente a tentar novamente em instantes.\n</Instrucoes_Finais>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        448,
        0
      ],
      "id": "agent-1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        352,
        208
      ],
      "id": "model-1",
      "name": "OpenAI Model",
      "credentials": {
        "openAiApi": {
          "id": "oPqSWZ8UON9AXTOz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Preparar Dados').item.json.telefone }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        544,
        208
      ],
      "id": "memory-1",
      "name": "Memória Postgres",
      "credentials": {
        "postgres": {
          "id": "v3RabrtvpCXYgmbG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "20Rq4ar-aW-W3s3CvO_px",
          "mode": "list",
          "cachedResultUrl": "/workflow/20Rq4ar-aW-W3s3CvO_px",
          "cachedResultName": "agenda_consultar_disponibilidade"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        704,
        208
      ],
      "name": "consultar_horarios",
      "id": "822a68d6-3854-4565-978f-33a4c024a406"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "8C195OrvhCXh3biQ",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "slot_id": "={{ $json.slot_id }}",
            "telefone": "={{ $node[\"Preparar Dados\"].json.telefone }}"
          },
          "schema": [
            {
              "id": "slot_id",
              "displayName": "ID do Slot",
              "required": true,
              "type": "string"
            },
            {
              "id": "telefone",
              "displayName": "Telefone",
              "required": true,
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        704,
        352
      ],
      "name": "agendar_reserva",
      "id": "c5ed18b8-6060-40fe-910a-7778cd82d0af"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "nj8BbsVlFjHFYWDoE-qA9",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $node[\"Preparar Dados\"].json.telefone }}"
          },
          "schema": [
            {
              "id": "telefone",
              "displayName": "Telefone",
              "required": true,
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        704,
        512
      ],
      "name": "cancelar_reserva",
      "id": "3d4f2668-6a5d-4767-8a4b-627fa49eafa7"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        880,
        0
      ],
      "id": "a674c63f-6d0c-4bf4-86f8-3965f333ed81",
      "name": "Enviar texto1",
      "credentials": {
        "evolutionApi": {
          "id": "rA5RdR6wauF1ogrU",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "input-key",
              "name": "input",
              "value": "={{ $json.mensagem }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        0
      ],
      "id": "clean-input-node-1",
      "name": "Limpar Input para IA"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Preparar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Dados": {
      "main": [
        [
          {
            "node": "Limpar Input para IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Enviar texto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memória Postgres": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "consultar_horarios": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "agendar_reserva": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cancelar_reserva": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Input para IA": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "c7391cf0-5c86-4849-baf4-9764ab712c07",
  "activeVersionId": "c7391cf0-5c86-4849-baf4-9764ab712c07",
  "versionCounter": 11,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-06T11:29:30.282Z",
      "createdAt": "2026-02-06T11:29:30.282Z",
      "role": "workflow:owner",
      "workflowId": "eMikHpGyw6OFxuob",
      "projectId": "kP7h3oSEBMHOctB3",
      "project": {
        "updatedAt": "2025-12-03T19:22:57.668Z",
        "createdAt": "2025-12-03T18:15:41.044Z",
        "id": "kP7h3oSEBMHOctB3",
        "name": "Camilo miloruas@gmail.com <miloruas@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f",
        "projectRelations": [
          {
            "updatedAt": "2025-12-03T18:15:41.044Z",
            "createdAt": "2025-12-03T18:15:41.044Z",
            "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f",
            "projectId": "kP7h3oSEBMHOctB3",
            "user": {
              "updatedAt": "2026-02-06T11:05:22.739Z",
              "createdAt": "2025-12-03T18:15:30.723Z",
              "id": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f",
              "email": "miloruas@gmail.com",
              "firstName": "Camilo",
              "lastName": "miloruas@gmail.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-03T19:23:20.097Z",
                "personalization_survey_n8n_version": "1.122.4",
                "companyType": "personal",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "HqDaKODwZIg6Hdmx",
                "userActivatedAt": 1764891421091,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1765455747678
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "aiAgentStarterCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-06",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-06T12:16:01.165Z",
    "createdAt": "2026-02-06T12:08:34.126Z",
    "versionId": "c7391cf0-5c86-4849-baf4-9764ab712c07",
    "workflowId": "eMikHpGyw6OFxuob",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "webhook-agendamento",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -208,
          0
        ],
        "id": "webhook-1",
        "name": "Webhook",
        "webhookId": "0bfc6231-5611-47c9-9cf4-207b4ba777b7"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1",
                "name": "telefone",
                "value": "={{ $json.body.data.key.remoteJid }}",
                "type": "string"
              },
              {
                "id": "2",
                "name": "nome",
                "value": "={{ $json.body.data.pushName }}",
                "type": "string"
              },
              {
                "id": "3",
                "name": "mensagem",
                "value": "={{ $json.body.data.message.conversation }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          80,
          0
        ],
        "id": "set-1",
        "name": "Preparar Dados"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.input }}",
          "options": {
            "systemMessage": "\n<systemData>\nData de hoje: {{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }},\n{{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\n</systemData>\n\n<Identidade>\n  Nome: Rafael Ruas\n  Persona: Profissional, prestativo, organizado e muito educado.\n  Papel: Assistente de Agendamento Inteligente.\n</Identidade>\n\n<Objetivo>\n  Sua missão é facilitar a vida do cliente, ajudando-o a encontrar, reservar ou cancelar horários de atendimento de forma rápida e sem atritos.\n</Objetivo>\n\n<Processo_de_Atendimento>\n  1. Identifique a intenção do usuário (Consulta, Agendamento ou Cancelamento).\n  2. SEMPRE utilize as ferramentas disponíveis para obter informações reais. Nunca invente horários.\n  3. Comunique-se de forma natural, evitando jargões técnicos.\n</Processo_de_Atendimento>\n\n<Regras_das_Ferramentas>\n  - **Consultar Horários (consultar_horarios):**\n    * Se o usuário não informar a data, pergunte educadamente.\n    * Converta qualquer data (amanhã, segunda que vem, etc) para o formato YYYY-MM-DD.\n    * Quando a ferramenta retornar os slots, apresente-os de forma clara e numerada para facilitar a escolha.\n  \n  - **Agendar Reserva (agendar_reserva):**\n    * Você precisa do 'slot_id' retornado na consulta. \n    * Se o usuário escolher um horário, identifique o ID correspondente e chame a ferramenta.\n    * Informe ao usuário se o agendamento foi confirmado ou se houve algum problema.\n\n  - **Cancelar Reserva (cancelar_reserva):**\n    * Chame esta ferramenta se o usuário expressar desejo de cancelar seu horário atual.\n    * Use o telefone do cliente (já configurado na ferramenta).\n\n  - **Retorno das Ferramentas:**\n    * As ferramentas retornam um JSON { \"mensagem\": \"...\" }. \n    * Use o conteúdo desta mensagem para informar o usuário, adaptando para sua persona de forma gentil.\n</Regras_das_Ferramentas>\n\n<Instrucoes_Finais>\n  - Responda sempre em Português do Brasil.\n  - Seja conciso mas acolhedor.\n  - Se ocorrer um erro inesperado, peça desculpas e oriente a tentar novamente em instantes.\n</Instrucoes_Finais>\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          448,
          0
        ],
        "id": "agent-1",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "gpt-4o-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          352,
          208
        ],
        "id": "model-1",
        "name": "OpenAI Model",
        "credentials": {
          "openAiApi": {
            "id": "oPqSWZ8UON9AXTOz",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Preparar Dados').item.json.telefone }}"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          544,
          208
        ],
        "id": "memory-1",
        "name": "Memória Postgres",
        "credentials": {
          "postgres": {
            "id": "v3RabrtvpCXYgmbG",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "20Rq4ar-aW-W3s3CvO_px",
            "mode": "list",
            "cachedResultUrl": "/workflow/20Rq4ar-aW-W3s3CvO_px",
            "cachedResultName": "agenda_consultar_disponibilidade"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          704,
          208
        ],
        "name": "consultar_horarios",
        "id": "822a68d6-3854-4565-978f-33a4c024a406"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "8C195OrvhCXh3biQ",
            "mode": "list"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "slot_id": "={{ $json.slot_id }}",
              "telefone": "={{ $node[\"Preparar Dados\"].json.telefone }}"
            },
            "schema": [
              {
                "id": "slot_id",
                "displayName": "ID do Slot",
                "required": true,
                "type": "string"
              },
              {
                "id": "telefone",
                "displayName": "Telefone",
                "required": true,
                "type": "string"
              }
            ]
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          704,
          352
        ],
        "name": "agendar_reserva",
        "id": "c5ed18b8-6060-40fe-910a-7778cd82d0af"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "nj8BbsVlFjHFYWDoE-qA9",
            "mode": "list"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "telefone": "={{ $node[\"Preparar Dados\"].json.telefone }}"
            },
            "schema": [
              {
                "id": "telefone",
                "displayName": "Telefone",
                "required": true,
                "type": "string"
              }
            ]
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          704,
          512
        ],
        "name": "cancelar_reserva",
        "id": "3d4f2668-6a5d-4767-8a4b-627fa49eafa7"
      },
      {
        "parameters": {
          "resource": "messages-api",
          "instanceName": "={{ $('Webhook').item.json.body.instance }}",
          "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
          "messageText": "={{ $json.output }}",
          "options_message": {}
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          880,
          0
        ],
        "id": "a674c63f-6d0c-4bf4-86f8-3965f333ed81",
        "name": "Enviar texto1",
        "credentials": {
          "evolutionApi": {
            "id": "rA5RdR6wauF1ogrU",
            "name": "Evolution account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "input-key",
                "name": "input",
                "value": "={{ $json.mensagem }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          288,
          0
        ],
        "id": "clean-input-node-1",
        "name": "Limpar Input para IA"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Preparar Dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Dados": {
        "main": [
          [
            {
              "node": "Limpar Input para IA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Enviar texto1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Memória Postgres": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "consultar_horarios": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "agendar_reserva": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "cancelar_reserva": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Limpar Input para IA": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Camilo miloruas@gmail.com",
    "name": "Version c7391cf0",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-06T12:16:01.143Z",
        "id": 72,
        "workflowId": "eMikHpGyw6OFxuob",
        "versionId": "c7391cf0-5c86-4849-baf4-9764ab712c07",
        "event": "activated",
        "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f"
      }
    ]
  }
}
