workflow_consultar_debug.json
{
  "updatedAt": "2026-02-06T12:28:39.779Z",
  "createdAt": "2026-02-05T17:27:34.945Z",
  "id": "20Rq4ar-aW-W3s3CvO_px",
  "name": "agenda_consultar_disponibilidade",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "agenda_slots",
        "filters": {
          "conditions": [
            {
              "keyName": "data",
              "condition": "eq",
              "keyValue": "={{ $json.data }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "acf23a54-86b4-4c16-bb56-3d593e767940",
      "name": "Buscar hor치rios dispon칤veis",
      "credentials": {
        "supabaseApi": {
          "id": "cuLPizV1tj78XzSn",
          "name": "Supabase (Agente IA)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78513cb6-6307-4c53-b404-56b593e1934d",
              "name": "data_formatada",
              "value": "={{$json.data.split('-').reverse().join('-')}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "c51b4e74-1ca2-455b-ace1-610c6bd0611f",
      "name": "Formatar Data"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (!items.length) {\n  return [{ mensagem: \"Nenhum hor치rio dispon칤vel.\" }];\n}\n\nconst data = items[0].json.data;\nconst horarios = items.map(i => i.json.hora_inicio.slice(0,5));\n\nconst msg =\n`游늰 ${data}\n\nHor치rios dispon칤veis:\n${horarios.join(\"\\n\")}`;\n\nreturn [{ mensagem: msg }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "b5f179c4-2687-4154-a0cb-44f7dfdb7e1d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "71b44787-4447-4467-84b7-474aa645ce30",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "\nconst input = items[0].json;\nlet rawDate = input.data || input.consulta || input.date || input.data_consulta;\n\nlet d;\nif (rawDate) {\n    // Try to parse the incoming date\n    d = new Date(rawDate);\n}\n\n// Fallback to today if invalid or missing\nif (!d || isNaN(d.getTime())) {\n    d = new Date();\n}\n\n// Format as YYYY-MM-DD\nconst year = d.getFullYear();\nconst month = String(d.getMonth() + 1).padStart(2, '0');\nconst day = String(d.getDate()).padStart(2, '0');\n\nreturn {\n    data: `${year}-${month}-${day}`\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ],
      "name": "Sanitizar Data",
      "id": "f969d421-3b63-4474-ac40-08cb27b8b9ff"
    }
  ],
  "connections": {
    "Receber data consulta": {
      "main": [
        [
          {
            "node": "Buscar hor치rios dispon칤veis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar hor치rios dispon칤veis": {
      "main": [
        [
          {
            "node": "Formatar Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Data": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Sanitizar Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitizar Data": {
      "main": [
        [
          {
            "node": "Buscar hor치rios dispon칤veis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "661eed36-8f51-442b-b20d-1c4e408e30ab",
  "activeVersionId": "661eed36-8f51-442b-b20d-1c4e408e30ab",
  "versionCounter": 29,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-05T17:27:34.945Z",
      "createdAt": "2026-02-05T17:27:34.945Z",
      "role": "workflow:owner",
      "workflowId": "20Rq4ar-aW-W3s3CvO_px",
      "projectId": "kP7h3oSEBMHOctB3",
      "project": {
        "updatedAt": "2025-12-03T19:22:57.668Z",
        "createdAt": "2025-12-03T18:15:41.044Z",
        "id": "kP7h3oSEBMHOctB3",
        "name": "Camilo miloruas@gmail.com <miloruas@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f",
        "projectRelations": [
          {
            "updatedAt": "2025-12-03T18:15:41.044Z",
            "createdAt": "2025-12-03T18:15:41.044Z",
            "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f",
            "projectId": "kP7h3oSEBMHOctB3",
            "user": {
              "updatedAt": "2026-02-06T11:05:22.739Z",
              "createdAt": "2025-12-03T18:15:30.723Z",
              "id": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f",
              "email": "miloruas@gmail.com",
              "firstName": "Camilo",
              "lastName": "miloruas@gmail.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-03T19:23:20.097Z",
                "personalization_survey_n8n_version": "1.122.4",
                "companyType": "personal",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "HqDaKODwZIg6Hdmx",
                "userActivatedAt": 1764891421091,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1765455747678
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "aiAgentStarterCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-06",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-06T12:28:39.785Z",
    "createdAt": "2026-02-06T12:28:39.785Z",
    "versionId": "661eed36-8f51-442b-b20d-1c4e408e30ab",
    "workflowId": "20Rq4ar-aW-W3s3CvO_px",
    "nodes": [
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "agenda_slots",
          "filters": {
            "conditions": [
              {
                "keyName": "data",
                "condition": "eq",
                "keyValue": "={{ $json.data }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          416,
          0
        ],
        "id": "acf23a54-86b4-4c16-bb56-3d593e767940",
        "name": "Buscar hor치rios dispon칤veis",
        "credentials": {
          "supabaseApi": {
            "id": "cuLPizV1tj78XzSn",
            "name": "Supabase (Agente IA)"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "78513cb6-6307-4c53-b404-56b593e1934d",
                "name": "data_formatada",
                "value": "={{$json.data.split('-').reverse().join('-')}}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          624,
          0
        ],
        "id": "c51b4e74-1ca2-455b-ace1-610c6bd0611f",
        "name": "Formatar Data"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nif (!items.length) {\n  return [{ mensagem: \"Nenhum hor치rio dispon칤vel.\" }];\n}\n\nconst data = items[0].json.data;\nconst horarios = items.map(i => i.json.hora_inicio.slice(0,5));\n\nconst msg =\n`游늰 ${data}\n\nHor치rios dispon칤veis:\n${horarios.join(\"\\n\")}`;\n\nreturn [{ mensagem: msg }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          832,
          0
        ],
        "id": "b5f179c4-2687-4154-a0cb-44f7dfdb7e1d",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "71b44787-4447-4467-84b7-474aa645ce30",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "jsCode": "\nconst input = items[0].json;\nlet rawDate = input.data || input.consulta || input.date || input.data_consulta;\n\nlet d;\nif (rawDate) {\n    // Try to parse the incoming date\n    d = new Date(rawDate);\n}\n\n// Fallback to today if invalid or missing\nif (!d || isNaN(d.getTime())) {\n    d = new Date();\n}\n\n// Format as YYYY-MM-DD\nconst year = d.getFullYear();\nconst month = String(d.getMonth() + 1).padStart(2, '0');\nconst day = String(d.getDate()).padStart(2, '0');\n\nreturn {\n    data: `${year}-${month}-${day}`\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          200,
          0
        ],
        "name": "Sanitizar Data",
        "id": "f969d421-3b63-4474-ac40-08cb27b8b9ff"
      }
    ],
    "connections": {
      "Receber data consulta": {
        "main": [
          [
            {
              "node": "Buscar hor치rios dispon칤veis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar hor치rios dispon칤veis": {
        "main": [
          [
            {
              "node": "Formatar Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Formatar Data": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          []
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Sanitizar Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sanitizar Data": {
        "main": [
          [
            {
              "node": "Buscar hor치rios dispon칤veis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Camilo miloruas@gmail.com",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-06T12:28:39.992Z",
        "id": 79,
        "workflowId": "20Rq4ar-aW-W3s3CvO_px",
        "versionId": "661eed36-8f51-442b-b20d-1c4e408e30ab",
        "event": "activated",
        "userId": "fa7cd7cf-7d9b-40b7-a8c7-aaac9636a19f"
      }
    ]
  }
}
